
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <!-- 头像 -->
    <link rel="icon" href="{{ .Site.BaseURL }}img/author/RoundCornerHead.png" />
    <meta name="description"
        content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }}"> 

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    {{ $styles := resources.Get "scss/style.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">

    {{/*  <meta name="twitter:image" content="{{ trim .Site.BaseURL "/" }}{{ .Params.heroimage }}">
    <meta property="og:image" content="{{ trim .Site.BaseURL "/" }}{{ .Params.heroimage }}" />  */}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ if not (in (string .Site.BaseURL) "localhost") }}
    {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}

</head>
<!-- 引入思源黑体 -->
<script> 
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://cdnjs.loli.net/css2?family=Noto+Serif+SC:wght@400;500;700&display=swap";
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
        document.head.appendChild(customFont);
    }());
</script>
