<div id="cal-heatmap"></div>



<script type="text/javascript">
        // 获取最近一年的文章数据
        {{ $pages := where .Site.RegularPages "Date" ">" (now.AddDate -1 0 0) }}
        {{ $pages := $pages.Reverse }}

        {{ range $page:= $pages }}
            console.log("{{ $page.Title }}")
        {{ end }}

        var data = {
            "pages": [
                {{/*  {{ range $index, $element:= $pages }}
                    {
                        "title": "{{ .Title }}",
                        "date": "{{ .Date.Format "2006-01-02" }}",
                        "year": "{{ .Date.Format "2006" }}",
                        "month": "{{ .Date.Format "01" }}",
                        "day": "{{ .Date.Format "02" }}",
                        "word_count": "{{ .WordCount }}"
                    }{{ if ne (add $index 1) (len $pages) }},{{ end }}
                {{ end }}  */}}
            ]
        };
        console.log(data)
</script>


<!-- 容器代码 -->