<!-- 基础图表库 -->
<script src="https://d3js.org/d3.v7.min.js"></script>
<!-- cal-heatmap 核心库-->
<script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
<!-- 样式库 -->
<link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">
<!-- 悬浮提示插件 -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/cal-heatmap/dist/plugins/Tooltip.min.js"></script>
<!-- 日历标签插件 -->
<script src="https://unpkg.com/cal-heatmap/dist/plugins/CalendarLabel.min.js"></script>

<div id="cal-heatmap" style="text-align: center !important"></div>

<script type="text/javascript">
    // 获取最近一年的文章数据
    {{ $pages:= where .Site.RegularPages "Date" ">" (now.AddDate -1 0 0) }}
    {{ $pages = where $pages "Title" "ne" "" }}
    {{ $pages:= $pages.Reverse }}

    // {{ range $page:= $pages }}
    // console.log("{{ $page.Title }}")
    // {{ end }}

    var data = {
        "pages": [
            {{ range $index, $element:= $pages }}
                {
                    "title": "{{ .Title }}",
                    "date": "{{ .Date.Format "2006-01-02" }}",
                    "year": "{{ .Date.Format "2006" }}",
                    "month": "{{ .Date.Format "01" }}",
                    "day": "{{ .Date.Format "02" }}",
                    "word_count": "{{ .WordCount }}",
                    "link": "{{ .RelPermalink }}"
                }{{ if ne (add $index 1 ) (len $pages) }},{{ end }}
                {{ end }}
        ]
    };
    // console.log(data)
    document.addEventListener("DOMContentLoaded", function () {
        let months = 11;
        // 创建新的Calheatmap实例
        const cal = new CalHeatmap();
        // 获取今天的日期
        const today = new Date();
        // 将之前定义的数据放在blogInfo中
        let blogInfo = data;
        // 该时间用于告诉Cal-heatmap从那一天开始展示数据
        let startDate = new Date(today.setMonth(today.getMonth() - months));

        //定义一个点击事件，我这里是点击热力图上的方块，自动跳转到文章归档页面对应的时间位置
        cal.on('click', (event, timestamp, value) => {
            // 将时间戳转换成标准时间，并截去前面的 `2024-04` 部分。
            var date = new Date(timestamp).toISOString().substring(0, 10);
            const selectedPost = blogInfo.pages.find(page => {
                // 比较页面的日期（year-month格式）和点击的日期
                const pageDate = page.date.substring(0, 10); // 假设 blogInfo.pages 中每个页面的 date 格式是 'YYYY-MM-DD'
                return pageDate === date;
            });
            // console.log(selectedPost)
            // 如果找到了对应的页面，就跳转到该页面
            if (selectedPost) {
                window.location.href = selectedPost.link;
            }
            return

        });

        // 绘制热力图
        cal.paint({
            // 设置热力图主题，light | dark 可选
            theme: 'dark',
            // 展示几个月的数据
            range: months + 1,
            // 热力图上的方块颜色部分
            scale: {
                color: {
                    type: 'threshold',
                    // 下面的range和domain定义了两个有四个值4的数组，domain为需要判断的数值内容（这里判断的是word_count)，如果在100到1000则使用'rgba(77, 208, 90,0.1)'颜色，其他类推。
                    range: ['#0e4429', '#006D32', '#26a641', '#39d353'],
                    domain: [1000, 2000, 4000, 8000],
                },
            },
            // 设置主数据的格式
            domain: {
                //按月形式展示，可选的还有year等
                type: 'month',
                // 设置月和月之间的间隙，类似css中的gap属性
                gutter: 5,
                // 标签的位置
                position: 'right',
                // 我这里不想让他显示标签所以设置的null（但是不起作用，最后我通过css隐藏的）
                text: null,
                // 这一行取消就是英文
                // label: { text: 'M月', textAlign: 'middle', position: 'bottom' },
            },
            // 设置子数据
            subDomain: {
                // subDomain的数据形式，可以设置week、hour等，根据颗粒度来。
                // ghDay为该月的每一天的第一周和周末，按列展示，具有比较规整的排列
                type: 'ghDay',
                // 小格子的圆角度
                radius: 5,
                // 小格子的大小
                width: 18,
                height: 18,
                // 小格子的间隙，类似css中的gap
                gutter: 5,
            },
            // 设置展示时间
            date: {
                // 从合适开始展示数据，我们之前定义的startDate为2个月
                start: startDate,
                // 开始时间设置为周一
                locale: { 
                    weekStart: 1
                },
            },
            // 设置数据部分
            data: {
                //数据设置为blogInfo.pages，x轴为date，y轴为我们的wordcount，并用groupY进汇总分组（把每天的写的字数加在一起）
                source: blogInfo.pages, x: "date", y: item => {
                    return parseInt(item.word_count);
                }, groupY: 'sum'
            },
        },
            // 以下部分为插件定义
            [[
                // 悬浮提示插件
                Tooltip,
                {
                    // 定一个函数，悬浮时把日期传入，通过日期查询当天有几天文章，和总字数多少
                    text: function (date, value, dayjsDate) {
                        const currentPost = blogInfo.pages.filter(page => page.date === dayjsDate.format('YYYY-MM-DD'));
                        const postTitle = currentPost.length > 0 ? currentPost[0].title : '';  // 获取第一个匹配的文章标题
                        const wordCount = currentPost.length > 0 ? currentPost[0].word_count : 0;  // 获取字数
                        if (postTitle === '') {
                            return dayjsDate.format('YYYY-MM-DD');
                        }
                        return (
                            postTitle +
                            ' | ' +
                            (wordCount > 0 ? `${wordCount} 字` : '') +
                            ' ' +
                            dayjsDate.format('YYYY-MM-DD')
                        );
                    }
                },
            ],
            [
                // 日历标签插件，用以自定义右侧的周几标签
                CalendarLabel,
                {
                    // 显示在右侧
                    position: 'left',
                    // 中周一开始显示一、二、三等
                    text: () => ["一", "", "三", "", "五", "", "日"],
                    // 居中显示
                    textAlign: 'middle',
                    // 圆角弧度
                    radius: 5
                },
            ],

            ]);
    });


</script>

<style>
    .ch-container {
        display: inline-block;
    }

    #cal-heatmap {
        overflow-x: auto;
        white-space: nowrap;
        scroll-behavior: smooth;
        /* 平滑滚动 */

        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;

        -webkit-text-size-adjust: 100%;

        /* 2 */
        &::-webkit-scrollbar {
            width: 11px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0.87);
            border-radius: 2em !important;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #999999;
            border-radius: 2em;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
    @media (max-width: 1023px) {
    #cal-heatmap {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
</style>
